<link rel="stylesheet" href="app/Home/home.component.css" />
<div class="custContainer">
    <div class="homeHeadingContainer">
        <div class="homeHeading">Welcome To Simar's Loan Co.</div>
        <div class="homeSubHeading">The One-Stop shop for all you loan needs.</div>
    </div>


    <div class="subText typeText">
        <div class="subTextTagline">Gloabal Leaders in providing Custom Loan Agreements.</div>
        <div class="underText">
            <div> Define your own:</div>
            <div>
                <div>&#8594;Loan Amount</div>
                <div>&#8594;Interest Rate</div>
                <div>&#8594;Term Length!<span class="super">*T&C apply</span></div>
            </div>
        </div>
    </div>
</div>