<!doctype html>
<html lang="en" ng-app="lms">

<head>
    <meta charset="utf-8">
    <title>LoanManagementSystem</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/angular-jwt@0.1.11/dist/angular-jwt.min.js"></script>
    <link rel="stylesheet" href="globalStyle.css" />
    <script src="main.js"></script>
    <script src="app/Services/login.service.js"></script>
    <script src="app/Services/loan.service.js"></script>
    <script src="app/Login/login.component.js"></script>
    <script src="app/Customer/customer.component.js"></script>
    <script src="app/Customer/All-Loans/all-loans.component.js"></script>
    <script src="app/Customer/Applied-Loans/applied-loans.component.js"></script>
    <script src="app/Customer/Apply-Loan/apply-loan.component.js"></script>
    <script src="app/Manager/manager.component.js"></script>
    <script src="app/Manager/All-Applications/all-applications.component.js"></script>
    <script src="app/Manager/Approved-Applications/approved-applications.component.js"></script>
    <script src="app/Manager/Pending-Applications/pending-applications.component.js"></script>
    <script src="app/Manager/Rejected-Applications/rejected-applications.component.js"></script>
    <script src="app/Home/home.component.js"></script>
    <script src="app/Signup/signup.component.js"></script>

</head>

<body ng-controller="AppCtrl">
    <div class="pageTitleRibbon">
        <div class="pageTitle">
            <div class="titleContent" ng-click="goToHome()">Simar's Loan Company</div>
        </div>
        <div>A sub Division of Simar Industries</div>
    </div>
    <div class="actionsPanel">
        <div style="display:flex">
            <a class="logButtons" ng-click="goToDash()" ng-if="showDashboardLink && isHomeRoute()">Go to your Dashboard</a>&nbsp;
            <a class="logButtons" ng-click="deleteUser()" ng-if="loginStatus">Delete your account!</a>

        </div>
        <div ng-cloak style="display:flex">
            <div class="welcomeMessage" ng-if="loginStatus">Welcome {{userName}}!</div>
            <div ng-if="!loginStatus" style="display:flex">
                <a class="logButtons" ng-click="redirectToLogin()">Login</a>
                &nbsp;
                <a class="logButtons" ng-click="redirectToSignup()">Signup</a>
            </div>
            
            <a class="logButtons" ng-if="loginStatus" ng-click="logout()">Logout</a>
        </div>
    </div>
    <hr />
    <div ng-view></div>
</body>

</html>